	<div id='resume'>
  <div id='nameBlock' class='largeFont'>
    <span class='name'>
      Marcellus Mohanna
    </span>
  </div>
  <div id='basicsBlock' class='smallFont'>
    <div class='contactBlock'>
      <span class='email'>marcellusm.mohanna@gmail.com</span>
      <span class='divider'>|</span>
      <span class='phone'>(513) 545-1001</span>
      <span class='divider'>|</span>
      <span class='website'>marcellus.dev</span>
        <span class='divider'>|</span>
        <span class='address'>
          Cincinnati, Ohio
        </span>
    </div>
  </div>
  <div class='sectionLine'></div>


	<div id='education' class="sectionBlock">
    <div class='sectionName'>
      <span>EDUCATION</span>
    </div>
    <div class='sectionContent'>
      <div class='educationBlock'>
        <span class='title'>
          Miami University
        </span>
        <span class='date'>
          August 2016 &mdash; May 2020
        </span>
        <div class=''>
          BS  - Computer Science, GPA: 3.2
        </div>
      </div>
      
    </div>
	</div>
  <div class='sectionLine'></div>

	<div id='skills' class="sectionBlock">
    <div class='sectionName'>
      <span>SKILLS</span>
    </div>
    <div class='sectionContent'>
      <div class='skillBlock'>
        <span class='title'>Languages:</span>
          <span>C#</span>, 
          <span>Python</span>, 
          <span>Java</span>, 
          <span>HTML</span>, 
          <span>CSS</span>, 
          <span>Javascript</span>, 
          <span>Sql Server</span>
      </div>
      <div class='skillBlock'>
        <span class='title'>Frameworks:</span>
          <span>.NET MVC</span>, 
          <span>Kendo Grid</span>, 
          <span>Bootstrap</span>, 
          <span>Django</span>, 
          <span>React</span>
      </div>
      <div class='skillBlock'>
        <span class='title'>Operating Systems:</span>
          <span>Ubuntu</span>, 
          <span>Windows</span>, 
          <span>macOS</span>
      </div>
      <div class='skillBlock'>
        <span class='title'>Other:</span>
          <span>Git</span>, 
          <span>TFS</span>, 
          <span>Vim</span>, 
          <span>Digital Ocean</span>, 
          <span>Nginx</span>
      </div>
    </div>
	</div>
  <div class='sectionLine'></div>

  <div id='workBlock' class="sectionBlock">
    <div class='sectionName'>
      <span>WORK</span>
    </div>
    <div class='sectionContent'>
			<div class="jobBlock">
	      <div class='blockHeader'>
	        <span class='title'>
	          Ohio Treasury of State, Software Developer
	        </span>
	        <span class='date'>
	          June 2020 &mdash; Present
	        </span>
	      </div>
	      <ul class='resumeul highlights'>
	        <li class="resumeli">Maintain and update internal and external .NET banking applications.</li>
	        <li class="resumeli">Regularly gather requirements and offer support for 20+ business users</li>
	      </ul>
	      <div class='separator'></div>
			</div>
			<div class="jobBlock">
	      <div class='blockHeader'>
	        <span class='title'>
	          Miami University, Resident Assistant
	        </span>
	        <span class='date'>
	          August 2018 &mdash; May 2019
	        </span>
	      </div>
	      <ul class='resumeul highlights'>
	        <li class="resumeli">Served as leader for 35+ residents and performed hall administrative duties.</li>
	      </ul>
	      <div class='separator'></div>
			</div>
			<div class="jobBlock">
	      <div class='blockHeader'>
	        <span class='title'>
	          Miami University, Computer Science Teaching Assistant
	        </span>
	        <span class='date'>
	          December 2017 &mdash; May 2018
	        </span>
	      </div>
	      <ul class='resumeul highlights'>
	        <li class="resumeli">Helped teach and grade introductory Java assignments and labs for 200+ students</li>
	      </ul>
	      <div class='separator'></div>
			</div>
			<div class="jobBlock">
	      <div class='blockHeader'>
	        <span class='title'>
	          Gaslight Brewhouse, Server
	        </span>
	        <span class='date'>
	          June 2019 &mdash; March 2020
	        </span>
	      </div>
	      <ul class='resumeul highlights'>
	        <li class="resumeli">Delivered professional culinary service in a high pace environment</li>
	      </ul>
	      <div class='separator'></div>
			</div>
			<div class="jobBlock">
	      <div class='blockHeader'>
	        <span class='title'>
	          Miami University, Accessibility Tech
	        </span>
	        <span class='date'>
	          May 2017 &mdash; September 2018
	        </span>
	      </div>
	      <ul class='resumeul highlights'>
	        <li class="resumeli">Ensured accessibility on all online courses, course webpages, posted videos, and pdfs.</li>
	      </ul>
	      
			</div>
    </div>
  </div>
  <div class='sectionLine'></div>

<!--
Adding projects section because i liked that feature when i used resumake.io
-->

  <div id='projectsBlock' class="sectionBlock">
    <div class='sectionName'>
      <span>PROJECTS</span>
    </div>
    <div class='sectionContent'>
			<div class="jobBlock">
	      <div class='blockHeader'>
	        <span class='title'>
	          Reddit Text to Podcast
                  <em>Python</em>
	        </span>
	      </div>
	      <ul class='resumeul highlights'>
	        <li class="resumeli">Scrapes personally curated Reddit posts and create and podcast with a text to speech program. Experience should be completely automated, and produce a ready-to-listen mp3 file.</li>
	      </ul>

	      <div class='separator'></div>
			</div>
			<div class="jobBlock">
	      <div class='blockHeader'>
	        <span class='title'>
	          Interactive Biochemistry Website
                  <em>Javascript</em>
	        </span>
	      </div>
	      <ul class='resumeul highlights'>
	        <li class="resumeli">Added extra dynamic experiments and a professor-friendly admin page to preexisting University site.</li>
	      </ul>

	      <div class='separator'></div>
			</div>
			<div class="jobBlock">
	      <div class='blockHeader'>
	        <span class='title'>
	          Miami University Grade Distributions
                  <em>Python</em>
	        </span>
	      </div>
	      <ul class='resumeul highlights'>
	        <li class="resumeli">Scraped Wayback Machine sites to gather and parse pdf files of old grade data into csv format. Was never able to cleanly parse each file as the formats were unreliable. A lot was learned about pdfs and Python.</li>
	      </ul>

	      <div class='separator'></div>
			</div>
			<div class="jobBlock">
	      <div class='blockHeader'>
	        <span class='title'>
	          Senior Design Project
                  <em>C++</em>
	        </span>
	      </div>
	      <ul class='resumeul highlights'>
	        <li class="resumeli">Assisted professor in implementing DCS on raspberry pi, with the goal of creating a cheap and non-invasive method of measuring blood flow.</li>
	      </ul>

	      <div class='separator'></div>
			</div>
			<div class="jobBlock">
	      <div class='blockHeader'>
	        <span class='title'>
	          Hyper Typer
                  <em>HTML,</em>
                  <em>Javascript</em>
	        </span>
	      </div>
	      <ul class='resumeul highlights'>
	        <li class="resumeli">Fast paced web typing game made with custom made 8-bit music.</li>
	      </ul>

	      
			</div>
    </div>
  </div>
