<div id="socials" class="container">
    <h1>Socials and Contacts</h1>
    <ul id="links" class="container">
        <li><a href="mailto:marcellusm.mohanna@gmail.com">marcellusm.mohanna@gmail.com</a></li>
        <li><a href="https://github.com/marcellus97">github</a></li>
        <li><a href="https://inkedin.com/in/marcellus-mohanna/">linkedin</a></li>
        <li><a href="https://app.joinhandshake.com/users/5984223">handshake</a></li>
        <li><a href="https://steamcommunity.com/profiles/76561198048355074/">steam</a></li>
    </ul>
</div>
